

<canvas id="canvas"></canvas>
<button id="start">Start</button>
<div id="showOnStart" style="visibility: hidden;">
    <button id="prv-shoe-sty">&laquo; Previous</button>
    Shoes Style
    <button id="nxt-shoe-sty">Next &raquo;</button>
    <button id="prv-shoe-clr">&laquo; Previous</button>
    Shoes Color
    <button id="nxt-shoe-clr">Next &raquo;</button>
    <br>
    <button id="prv-skn-clr">&laquo; Previous</button>
    Skin Color
    <button id="nxt-skn-clr">Next &raquo;</button>
    <br>
    <button id="prv-blt-clr">&laquo; Previous</button>
    Belt Color
    <button id="nxt-blt-clr">Next &raquo;</button>
    <br>
    <button id="prv-pnt-sty">&laquo; Previous</button>
    Pants Style
    <button id="nxt-pnt-sty">Next &raquo;</button>
    <button id="prv-pnt-clr">&laquo; Previous</button>
    Pants Color
    <button id="nxt-pnt-clr">Next &raquo;</button>
    <br>
    <button id="prv-sht-sty">&laquo; Previous</button>
    Shirt Style
    <button id="nxt-sht-sty">Next &raquo;</button>
    <button id="prv-sht-clr">&laquo; Previous</button>
    Shirt Color
    <button id="nxt-sht-clr">Next &raquo;</button>
    <br>
    <button id="prv-slv-sty">&laquo; Previous</button>
    Sleeve Style
    <button id="nxt-slv-sty">Next &raquo;</button>
    <button id="prv-slv-clr">&laquo; Previous</button>
    Sleeve Color
    <button id="nxt-slv-clr">Next &raquo;</button>
    <br>
    <button id="prv-har-sty">&laquo; Previous</button>
    Hair Style
    <button id="nxt-har-sty">Next &raquo;</button>
    <button id="prv-har-clr">&laquo; Previous</button>
    Hair Color
    <button id="nxt-har-clr">Next &raquo;</button>
</div>


<div id="preload" style="visibility: hidden;">
    <img src="/images/avatar/Skin/3head.png" alt="">
</div>
