

<canvas id="canvas"></canvas>
<button id="start">Start</button>
<div id="showOnStart" style="visibility: hidden;">
    <button id="prv-shoe-sty">&laquo; Previous</button>
    Shoes Style
    <button id="nxt-shoe-sty">Next &raquo;</button>
    <button id="prv-shoe-clr">&laquo; Previous</button>
    Shoes Color
    <button id="nxt-shoe-clr">Next &raquo;</button>
</div>
