<h1>Welcome to your profile</h1>

{{foundUser.username}}
{{foundUser.email}}

<a href="/profile/avatar">Create your avatar</a>

<h3>Do you need to change your profile?</h3>
    <a href="">Change Username</a>
    <a href="">Change Password</a>
    <a href="">Change your avatar</a>


