<h1>{{appTitle}} 🚀</h1>
<p>Welcome Ironhacker!</p>

<div id="navbuffer"></div>

<header>
   <form action="" method="post">
      <textarea name="" id="" cols="30" rows="10" style="resize: none;"></textarea>
      <input type="button" value="Post">
   </form>
</header>

